.env
.venv*
__pycache__/
*.pyc
config/config_path.txt
*.log
*.spec
dist/
build/
scripts/
pagina/
rocket/
pyinstaller.bat
instalador.iss
mejoras_pendientes.txt
innosetup.txt
compile.txt
config/*_backup.json